body{
    background: linear-gradient(90deg,rgba(2,0,36,0.4) 0%, rgba(9,9,121,0.18) 35%, rgba(0,212,255,0.21) 100%) ;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
table{
    width: 100%;
    height: 80vh;
    border-collapse: collapse;
}
 table caption{
     font-size: 48px;
 }
 tr th{
     font-size: 24px;
     font-weight: bold;
 }
table caption:hover{
color: rgb(15,82,93);
}
 tr td:hover{
color: #fff;
background-color:(90deg, rgba(0,1,36,0.21) 0%, rgba(7,7,241,0.12) 35%, rgba(218,0,255,0.08) 100%) ;
font-size: 20px;
width: 260px;
height: 110px;
border: 2px solid white;
font-weight: bold;
}
tr th:hover{
    color:rgb(15,82,93) ;
}

